body {
    width: 1440px;
    border: black solid 2px;
}

#fondBatmanRouge {
    background-image: url("../assets/Illustrations/Bathome1.png");
    background-size: cover;
    background-color: #cccccc;
    width: 1440px;
    height: 901px;
    display: grid;
    place-items: center; /* Centrer horizontalement et verticalement */
}

#fondBatmanRouge > div {
    text-align: center; /* Centrer le texte à l'intérieur de la div */
    color: white;
}

#fondBatmanRouge p {
    width: 468px;
}

#fondBatmanRouge ul {
    padding: 0;
}

#fondBatmanRouge ul li {
    list-style-type: none;
}

#fondBatmanRouge div ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fondBatmanRouge ⬆️*/


#flecheDown {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border: blue solid 2px;
}

.quatreParagraphe {
    width: 760px;
    border: red solid 2px;
    text-align: justify;
}

.troisImages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.troisImages li {
    text-align: center;
    list-style: none;
}

.troisImages li p {
    margin-top: 5px; /* Ajouter un peu d'espace entre l'image et le texte */
}

aside img {
    display: block;
}

#multimedia {
    display: flex;
    padding: 0;
    margin: 60px;
    justify-content: center;
    color: white;
}

#texteMultimedia {
    width: 570px;
    height: 230px;
    font-size: 14px;
    text-align: justify;
    border-radius: 0 10px 10px 0;
    background-color: #8d8181;
}

#bandeAnnonce {
    display: flex;
    justify-content: center;
    margin: 80px;
}


/*
#multimedia {
    display: flex;
    padding: 0;
    border-radius: 10px;
    color: white;
    background-color: #7d7d7d;
}

#BatmanBegins {
    width: 500px;
}

#bordureMultimedia {
    width: 500px;
}*/
